services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: puretrace_broker
    ports:
      - "1883:1883" # Porta MQTT
      - "9001:9001" # Porta Websocket
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: unless-stopped
  postgres:
    image: postgres:18-alpine
    container_name: puretrace_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./.docker/postgres/data:/var/lib/postgresql/data
    restart: unless-stopped
